body{
    margin: 0px;
    color: #54626a;
    font: 16px/1 sans-serif;
    width:100%;
}
.top-header{
    margin-top: 42px;
}
.logo {
    float: left;
    display: block;
    margin-right: 0px;
    padding: 0px;
    margin-top: -20px;
    width:50px;
}
.logo img {
    margin-left: 102px;
}
img {
    width: 140px;
    margin-top: 0px;
    margin-left: 0;
    padding: 0px;
}
.menu .menu-trigger nav ul li {
    display: inline;
    padding: 8px;
}
.menu .menu-trigger nav ul {
    margin-left: 233px;
    list-style: none;
}
.menu .menu-trigger nav ul li a{
    text-decoration: none;
    color: #54626a;
}
.menu .menu-trigger nav ul li a:hover{
    color: green;
}
.login{
    float: right;
    margin-right: 155px;
    margin-top: -43px;
    text-align: right;
}
.login-btn a:focus {
    color: black;
}
.login-btn, .signup-btn {
    border: 1px solid #d4d6d9;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.8125rem;
    display: inline-block;
    margin: 0 0.375rem 0 0;
    padding: 0.7rem 1.0rem;
    border-radius: 4px;
}
.signup-btn {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    text-align: center;
    border-color: #6bbf4e;
    background-color: #6bbf4e;
    color: #fff;
}
.img-body {
    width: 96%;
    margin: 0;
    padding: 0;
    height: 614px;
    margin-left:23px;
}
.video-img img {
    width: 80%;
    padding: 0px;
    height: 463px;
}
.text {
    text-align: center;
    color: #54626a;
    margin-top: 60px;
}
.text h2 {
    font-size: 2.1875rem;
    line-height: 120%;
    margin-bottom: 1.0rem;
    color: #363f44;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}
.featured-content-title a:hover {
    color: green;
}
.text p{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    font-weight: 400;
    line-height: 145%;
    font-size: 1.0rem;
}
.inner {
    margin-top: 35px;
    margin-left: 0;
}
.related-content-logos-list {
    margin-left: 308px;
}
.video-img img {
    margin-left: 117px;
}
.text2 {
    text-align: -moz-center;
    text-decoration: underline;
}
.text3 h2{
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
h2 {
    font-size: 2.1875rem;
    line-height: 120%;
}
   .featured-content-item {
    padding-right: 1rem;
    float: left;
    display: block;
    margin-right: -2.642%;
    width: 32.762%;
    margin-bottom: 3.0rem;
    box-sizing: inherit;
}
span {
    margin-bottom: 1.2rem;
    display: block;
}
 h4{
    font-size: 1.35rem;
    line-height: 120%;
}
.images-part img {
    width: 100%;
    
    height: 700px;
}
.text3 p {
    margin-left: 129px;
}
.featured-content-item {
    padding-right: 1rem;
    float: left;
    display: block;
    margin-right: 0.358%;
    width: 21.762%;
    margin-bottom: 33rem;
    box-sizing: inherit;
    margin-left: 123px;
    margin-top: 90px;
}
.quick-links{
    padding: 1rem;
}
.inner1 {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
}
.quick-links-link {
    flex: 1 0 48%;
}
.quick-links .inner1 {
    display: -webkit-box;
    display: -moz-box;
    display: box; 
}
.quick-links-content1 {
    margin-top: -511px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 339px;
    text-align: center;
    margin-left: 200px;
}
.quick-links-content2 {
    margin-top: -156px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 339px;
    text-align: center;
    margin-left: 744px;
}
.quick-links-content3 {
    margin-top: 0;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 339px;
    text-align: center;
    margin-left: 200px;
}
.quick-links-content4 {
    margin-top: -156px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 339px;
    text-align: center;
    margin-left: 744px;
}
.quick-links-content5 {
    margin-top: 0;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 339px;
    text-align: center;
    margin-left: 200px;
}
.quick-links-content6 {
    margin-top: -156px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 339px;
    text-align: center;
    margin-left: 744px;
}
.quick-links-link {
    margin-right: 1%;
}
.quick-links-icon {
    width: 25%;
}
.quick-links-icon {
    display: inline-block;
}
.quick-links-icon {
    padding: 1.0rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
quick-links-content {
    width: 75%;
}
.quick-links-content {
    padding: 1.0rem;
}
.cta-banner .inner3{
    display: flex;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
}
.cta-banner-content {
        flex: 1.25;
        margin-top: 40px;
}
    .cta-btn-wrap {
        flex: 1;
        text-align: right;
            margin-top: 81px;
}
.btn-primary-lg, .btn-secondary-lg {
    font-size: 0.875rem;
}
    .cta-banner.green_gradient.btn_right {
    background-color: #6bbf4e;
    height: 200px;
    margin-top: -113px;
}
cta-banner-content h3 {
    margin-bottom: 0.4rem;
}
h3 {
    font-size: 1.75rem;
    line-height: 120%;
    font-weight: bold;
    color: #fff;;
    text-rendering: optimizeLegibility;
}
a {
    text-decoration: none;
    color: #54626a;
}
.cta-banner green_gradient btn_right .cta-btn-wrap {
transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
text-align: center;
border-color: #6bbf4e;
background-color: #6bbf4e;
color: white;
}  
.free-trial{
    border: 1px solid #d4d6d9;
padding-left: 20px;
padding-right: 20px;
font-size: 0.8125rem;
display: inline-block;
margin: 0 0.375rem 0 0;
padding: 0.7rem 1.0rem;
border-radius: 4px;
    color: #fff;
background-color: black;
}
.top-footer {
    background-color: black;
    height: 90px;
    margin-top: 206px;
    padding: 0px;
}
.contact-info-list {
        zoom: 1;
        margin: 0;
        padding: 0;
        list-style: none;
}
    .contact-info-li {
    margin-bottom: 0;
    float: right;
    display: block;
    margin-right: 2.35765%;
    width: 26.762%;
    box-sizing: inherit;
    margin-top: 46px;
}
    .contact-info-li span {
    display: block;
}
    .contact-info-label {
    margin-bottom: 0.5rem;
    color: #748289;
}
    .contact-info-li span {
    display: block;
}
.do_more {
    margin-top: 177px;
    margin-left: 90px;
}
.use-cases {
    margin-left: 343px;
    margin-top: -319px;
}
.resource-cases {
    margin-left: 527px;
    margin-top: -284px;
}
.AboutDuo-case {
    margin-left: 730px;
    margin-top: -269px;
}
.upto-date {
    margin-left: 1000px;
    margin-top: -349px;
}
.container-content {
    background-color: black;
    color: #fff;
    font-size: 14px;
    height: 396px;
    margin-bottom: -206px;
    margin-top: -178px;
}
.footer-menu {
    background-color: black;
    height: 240px;
}   
.contact-info {
    margin-top: -21px;
}
.ul11 {
    list-style: none;
    font-family: sens-serif;
    color:#fff;
}
.h610 {
    margin-left: 39px;
    color: #748289;
}
.anchor10 {
    color: white;
}
.anchor10:hover{
    color: green;
}
input {
    height: 41px;
    width: 226px;
    border-radius: 5px;
}
.subscribe {
    margin-top: 7px;
    width: 96px;
    background-color: black;
    color: white;
}
.upto-date .h610 {
    margin-left: 0px;   
}

.upto-date .ul11 {
    margin-left: -41px;   
}
.list-links {
    margin-right: 7px;
    display: inline-block;
}
.footer-utility {
    margin-left: 120px;
}
.copyright-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
}
.other-sites {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    text-align: right;
    list-style: none
}
.languages {
    margin-right: 4px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 252px;
}
.english {
     border-bottom: 1px solid #6bbf4e;
    color: grey;
}
.french {
    border-bottom: 1px solid #6bbf4e;
    color: grey;
}
.deutsch {
    border-bottom: 1px solid #6bbf4e;
    color: grey;
}
.links {
    font-size: 30px;
    color: white;
}